.App {
  background-color: #F9F7FE;
  padding: 100px 60px 60px 60px;
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-height: 90px;
  padding: 10px 0;
}

.App footer {
  text-align: center;
  padding: 15px;
}