.Dictionary section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 600px;
    display: block;
    margin: 15px auto;
}

.Dictionary h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 0 0;
}

.Dictionary input {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
}

.Dictionary .search {
    display: flex;
    flex-direction: column;
}
