.Dictionary section {
    background-color: white;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Dictionary h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 0 0;
}

.Dictionary form {
    text-align: center;
}

.Dictionary input {
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.Dictionary span {
    padding-left: 25px;
}